# docker-compose.yml (Versión Corregida)
version: '3.8'

services:
  # 1. El Frontend
  frontend:
    build: ./ecopoints-frontend
    ports:
      - "5173:80"

  # 2. El Servicio de Usuarios (¡AÑADIDO!)
  usuarios:
    build: ./servicio-usuarios
    ports:
      - "9090:9090" # Usamos el puerto 9090 como dice su Dockerfile
    
  # 3. El Publicador
  publicador:
    build: ./servicio-publicador-demo
    ports:
      - "3006:3006"
    depends_on:
      rabbitmq:
        condition: service_healthy

  # 4. El Servicio de Puntos Verdes
  puntos-verdes:
    build: ./servicio-puntos-verdes
    ports:
      - "3007:3007" 

  # 5. El Consumidor (Tu Servicio)
  estadisticas:
    build: ./servicio-estadisticas
    ports:
      - "3005:3005"
    depends_on:
      rabbitmq:
        condition: service_healthy

  # 6. El Mensajero
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5