version: '3.8'

services:
  # 1. El Frontend
  frontend:
    build: ./ecopoints-frontend
    ports:
      - "5173:80"

  # 2. El Servicio de Usuarios
  usuarios:
    build: ./servicio-usuarios
    ports:
      - "9090:9090"

  # 3. El Servicio de Puntos Verdes
  puntos-verdes:
    build: ./servicio-puntos-verdes
    ports:
      - "3007:3007"

  # 4. El Servicio de Entregas
  entregas:
    build: ./servicio_entrega
    ports:
      - "3009:3009"
    depends_on:
      rabbitmq:
        condition: service_healthy

  # 5. El Consumidor (Estadísticas)
  estadisticas:
    build: ./servicio-estadisticas
    ports:
      - "3005:3005"
    depends_on:
      rabbitmq:
        condition: service_healthy

  # 6. El Servicio de Recompensas
  recompensas:
    build: ./servicio-recompensas
    ports:
      - "3004:3004"
    depends_on:
      rabbitmq:
        condition: service_healthy

  # 7. El Mensajero (RabbitMQ) - OPTIMIZADO
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 20s        # Chequear cada 20s (antes 10s) para no saturar
      timeout: 15s         # Darle 15s para responder (antes 5s)
      retries: 5
      start_period: 40s    # ¡NUEVO! No molestar a RabbitMQ los primeros 40s

