@import 'leaflet/dist/leaflet.css'; /* Necesario para el mapa */


@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-card {
  transition: all 0.35s ease;
}
.hover-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* Estilo para los inputs de las tarjetas */
.input-field {
  @apply block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm;
}

/* Estilo para el ícono de perfil en la Navbar */
.profile-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
}

.search-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>');
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 1.25rem;
  padding-left: 2.5rem;
}

.camera-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.218A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.218A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>');
  background-repeat: no-repeat;
  background-position: center left 1rem;
  background-size: 1.5rem;
  padding-left: 3rem;
}

/* === Estilos del contenedor arrastrable === */
.draggable-container {
  overflow: hidden;
  position: relative;
  cursor: grab;
}
.draggable-container:active {
  cursor: grabbing;
}
.draggable-image {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  transition: transform 0.05s ease-out;
}