# docker-compose.yml
version: '3.8'

services:
  # Este es TU microservicio
  estadisticas:
    build: .  # Le dice a Docker que construya usando el Dockerfile en esta carpeta
    ports:
      - "3005:3005" # Mapea el puerto 3005 de tu máquina al 3005 del contenedor
    environment:
      # Esta variable de entorno le dice a tu app dónde encontrar RabbitMQ
      - RABBITMQ_URL=amqp://rabbitmq
    # Se asegura de que RabbitMQ se inicie ANTES que tu servicio
    depends_on:
      - rabbitmq

  # Esta es la dependencia (RabbitMQ)
  rabbitmq:
    image: rabbitmq:3-management # Usamos la imagen oficial con la interfaz de gestión
    ports:
      - "5672:5672"   # Puerto estándar de RabbitMQ
      - "15672:15672" # Puerto para la Interfaz Web de Gestión